@media screen and (max-width:768px){
    .menu{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:100%;
        left:0;
        height:0;
        overflow:hidden;
        transition: all 1000ms ease;
    
        
        
        
    }
    nav{
        z-index:150px;
        
       
   
    }

    #menunav:checked + .menu{
        height:25em;
        border: 1px solid transparent;
        background-color: yellow;
        width: 100%;
        margin-top: -3px;
        
        
    }
    #labelnav{
        display:block;
        
       
        
    }
    .leopoldo{
        min-height:30vh;
        
    }
    #barremenu{
        color:orange;
    }

    

}